/*Limpando formatações padrão*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 1em;
	font-family: "Trebuchet MS", Heletica, sans-serif;
	background: #e6e6e6;
}

/*Layout*/

#area-cabecalho {
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}
#area-logo, #area-menu {
	padding: 10px;
}
#area-principal {
	width: 920px;
	margin: 10px auto;
}
#area-postagens {
	width: 660px;
	float: left;
}
#area-lateral {
	width: 240px;
	float: right;
}
#rodape {
	clear: both;
	background: #CCC;
	text-align: center;
	padding: 15px
}
#area-postagens, #area-lateral {
	background: white;
	margin-bottom: 10px;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}
.conteudo-lateral {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}
.postagem-lateral {
	font-size: 0.8em;
	padding: 8px;
}

/*Formatações gerais*/

h1 {
	color: #4e4e4e;
	size: 2.5em;
}
h2 {
	color: #f7b600;
}
h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

.branco {
	color: white;
}
.data-post {
	font-size: 0.8em;
	border-bottom: 1px solid #lightgrey;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

/*Formatação dos menus*/

a {
	text-decoration: none;
}
a:link, a:visited {
	color: #f7b600;

}
a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: white;
	padding: 8px 12px;
}
#area-cabecalho a:hover {
	color: #f7b600;
	background: white;
	text-decoration: none;
}
